<%= form_for(posting) do |f| %>
  <% if posting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(posting.errors.count, "error") %> prohibited this posting from being saved:</h2>

      <ul>
      <% posting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field card-block form-group">
    <%= f.label :company %>
    <%= f.text_field :company, class: "form-control" %>
  </div>

  <div class="field card-block form-group">
    <%= f.label :position %>
    <%= f.text_field :position, class: "form-control" %>
  </div>

  <div class="field card-block form-group">
    <%= f.label :date %><br>
    <%= f.date_select :date, class: "form-control" %>
  </div>

  <div class="actions card-block form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>