<div class="parallax parallax-postings"> 
  <h1 id="postings-headline" class="text-center">Your Job Postings</h1>
  <p id="postings-sub-headline" class="text-center">Keep It Up</p>
</div>

<div class="content-section postings-content-section">
  <div class="container">
    <% if notice %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
    <% end %>

    <div class="row text-center links-container">
      <div class="col">
        <strong>
          <a href="/postings" class="posting-contact-link">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
            Postings
          </a>
        </strong>
      </div>

      <div class="col">
        <a href="/contacts" class="posting-contact-link">
          <i class="fa fa-address-card-o" aria-hidden="true"></i>
          Contacts
        </a>
      </div>
    </div>

    <div class="text-center">
      <% if user_signed_in? %>
        <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> New Posting'.html_safe, new_posting_path, class: "btn btn-primary new-posting-button" %>
      <% end %>
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Company</th>
            <th>Position</th>
            <th>Link</th>
            <th>Date Applied</th>
            <th>Response</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% count = 0 %>
          <% @postings.each do |posting| %>
            <tr>
              <td><%= count += 1 %></td>
              <td><%= posting.company %></td>
              <td><%= posting.position %></td>
              <td><a href="<%= posting.link %>" target="_blank"><%= posting.link %></a></td>
              <td><%= posting.date %></td>
              <td class="text-center">
                <% if posting.response == false %>
                  <%= "N" %>
                <% else %>
                  <%= "Y" %>
                <% end %>
              </td>

              <% if posting.user == current_user %>
                <td><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_posting_path(posting) %></td>
                <td><%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, posting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= will_paginate @postings, class: "text-center posting-pagination" %>  
    
    <div class="text-center">
      <% if user_signed_in? && count >= 10 %>
        <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> New Posting'.html_safe, new_posting_path, class: "btn btn-primary new-posting-button" %>
      <% end %>
    </div>

  </div>

  <%= render "layouts/footer" %>

</div>