<div class="container devise-form form-container">
	<div class="card">
		<% if notice %>
			<p id="notice" class="alert alert-info"><%= notice %></p>
		<% end %>

		<p class="field card-block form-group">
		  <strong>Company:</strong>
		  <%= @posting.company %>
		</p>

		<p class="field card-block form-group">
		  <strong>Position:</strong>
		  <%= @posting.position %>
		</p>

		<p class="field card-block form-group">
		  <strong>Date:</strong>
		  <%= @posting.date %>
		</p>

		<div class="card-footer">
			<% if @posting.user == current_user %>
				<%= link_to 'Edit', edit_posting_path(@posting) %> |
				<%= link_to 'Back', postings_path %>
			<% end %>
		</div>
	</div>
</div>

<%= render "layouts/footer" %>