<!DOCTYPE html>
<html>
  <head>
    <title>JobKeeper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="svg" href="assets/magnifier-black.svg">
  </head>

  <body>
  	<%= render "layouts/navbar" %>

  	<% flash.each do |name, msg| %>
  		<%= content_tag(:div, msg, class: "alert alert-info") %>
  	<% end %>

    <%= yield %>
  </body>
</html>
